<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.TbShareItemMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.TbShareItem" >
    <id column="share_item_id" property="shareItemId" jdbcType="BIGINT" />
    <result column="share_id" property="shareId" jdbcType="BIGINT" />
    <result column="share_userfile_id" property="shareUserfileId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    share_item_id, share_id, share_userfile_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.TbShareItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_share_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_share_item
    where share_item_id = #{shareItemId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_share_item
    where share_item_id = #{shareItemId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TbShareItemExample" >
    delete from tb_share_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.TbShareItem" >
    insert into tb_share_item (share_item_id, share_id, share_userfile_id
      )
    values (#{shareItemId,jdbcType=BIGINT}, #{shareId,jdbcType=BIGINT}, #{shareUserfileId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.TbShareItem" >
    insert into tb_share_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shareItemId != null" >
        share_item_id,
      </if>
      <if test="shareId != null" >
        share_id,
      </if>
      <if test="shareUserfileId != null" >
        share_userfile_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shareItemId != null" >
        #{shareItemId,jdbcType=BIGINT},
      </if>
      <if test="shareId != null" >
        #{shareId,jdbcType=BIGINT},
      </if>
      <if test="shareUserfileId != null" >
        #{shareUserfileId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TbShareItemExample" resultType="java.lang.Integer" >
    select count(*) from tb_share_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_share_item
    <set >
      <if test="record.shareItemId != null" >
        share_item_id = #{record.shareItemId,jdbcType=BIGINT},
      </if>
      <if test="record.shareId != null" >
        share_id = #{record.shareId,jdbcType=BIGINT},
      </if>
      <if test="record.shareUserfileId != null" >
        share_userfile_id = #{record.shareUserfileId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_share_item
    set share_item_id = #{record.shareItemId,jdbcType=BIGINT},
      share_id = #{record.shareId,jdbcType=BIGINT},
      share_userfile_id = #{record.shareUserfileId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.TbShareItem" >
    update tb_share_item
    <set >
      <if test="shareId != null" >
        share_id = #{shareId,jdbcType=BIGINT},
      </if>
      <if test="shareUserfileId != null" >
        share_userfile_id = #{shareUserfileId,jdbcType=BIGINT},
      </if>
    </set>
    where share_item_id = #{shareItemId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.TbShareItem" >
    update tb_share_item
    set share_id = #{shareId,jdbcType=BIGINT},
      share_userfile_id = #{shareUserfileId,jdbcType=BIGINT}
    where share_item_id = #{shareItemId,jdbcType=BIGINT}
  </update>
</mapper>